@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Primary: Charming Nature */
    --primary-100: #F2FFF9;
    --primary-200: #BBFEDA;
    --primary-300: #81F6B0;
    --primary-400: #47E27C;
    --primary-500: #13BA42;
    --primary-600: #069526;
    --primary-700: #017014;
    --primary-800: #004B08;
    --primary-900: #002602;
}
body {
        background-color: var(--primary-100);
}
::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    background-color: var(--primary-100);
}
::-webkit-scrollbar-thumb {
    background-color: var(--primary-900);
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    width: 100vw;
    height: 10vh;
    background-color: var(--primary-900);
    font-family: 'Aboreto', cursive;
    padding: 10px;
    color: var(--primary-100);
}
.logo {
    letter-spacing: 0.4em;
    font-size: x-large;
}
.links {
    font-size: small;
    display: flex;
    gap: 20px;
    padding: 20px;
}
.active {
    display: none;
    
}



#bars {
    display: none;
}

/* small screen */

@media screen and (max-width: 450px) {
    body {
            background-color: var(--primary-100);
            font-family: 'Aboreto', cursive;
            background-color: var(--primary-900);
            
    }

    #head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        width: 100vw;
        height: 10vh;
        background-color: var(--primary-900);
        font-family: 'Aboreto', cursive;
        letter-spacing: 0.4em;
        padding: 10px;
        color: var(--primary-100);
    }

    .links {
        display: none;
    }
    .logo {
        font-size: larger;
    }
    

    .landimg {
        width: 100vw;
        height: fit-content;
        background-color: var(--primary-900);
    }

    .landimg img {
        width: 100%;
        height: fit-content;
    }
    #bars {
        display: block;
    }
    .active {
        position: fixed;
        display: none;
    }
    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
        color: var(--primary-100);
        overflow-x: hidden;
        background-color: var(--primary-900);
        width: 100vw;
        height: 30vh;
        letter-spacing: 0.3em;
        
    }
    .info h1 {
        padding:15px 20px;
    }
    .light {
        color: black;
        background-color: var(--primary-100);
    }
    .bwimg img {
        width: 100%;
        height: fit-content;
    }
    
    .hats {
        display: flex;
        justify-content: space-between;
    }
    .hats img {
        width: 250px;
    }
    
}


/* big screens */



