@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Primary: Charming Nature */
    --primary-100: #F2FFF9;
    --primary-200: #BBFEDA;
    --primary-300: #81F6B0;
    --primary-400: #47E27C;
    --primary-500: #13BA42;
    --primary-600: #069526;
    --primary-700: #017014;
    --primary-800: #004B08;
    --primary-900: rgb(0, 38, 2);
    --black:#0f0f0f;
}
body {
        background-color:var(--black);
        font-family: 'Aboreto', cursive;
        
}
::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    background-color: var(--primary-100);
}
::-webkit-scrollbar-thumb {
    background-color: var(--primary-900);
}

#head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:fixed;
    width: 100%;
    height: 10vh;
    background-color:var(--black);
    font-family: 'Aboreto', cursive;
    letter-spacing: 0.3em;
    color: var(--primary-100);
    z-index: 4;
    }

.logo a{
    padding-left: 40px;
    letter-spacing: 0.2em;
    font-weight: bolder;
    font-size: xx-large;
}

#cart {
    position: relative;
    right: 20px;
}
.links {
    display: flex;
    gap: 20px;
    padding: 15px;
}
a {
    font-size: large;
}

a:link {
    color: var(--primary-100);
    text-decoration: none;
}

/* visited link */
a:visited {
    color: var(--primary-100);
    text-decoration: none;
}

/* mouse over link */
nav a:hover {
    color: var(--primary-300);
}

/* selected link */
a:active {
    color: var(--primary-100);
}
.active {
    display: none;  
}

.land {
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    background-color:#0f0f0f ;
}

.rightmain {
    background-image: url(images/shop2.jpg);
    background-size: cover;
    background-position:center;
    overflow: hidden;
    background-color: #F2FFF9;
    position: absolute;
    left: 40%;
    top: 4rem;
    width: 50%;
    height: 80vh;
    clip-path: polygon(20% 23%, 80% 10%, 100% 90%, 40% 100%);
}

.textmain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    color: var(--primary-100);
    position: absolute;
    top: 30%;
    left: 10%;
}
.a {
    font-size: 96px;
    letter-spacing: 0.2em;
}
.b {
    font-size: 76px;
    letter-spacing: 0.1em;
}
.c {
    position: relative;
    font-size: 18px;
    top: 150px;
}



#open {
    display: none;
}




button {
    all: unset;
    
}


footer {
    background-color: var(--black);
    color: var(--primary-100);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    border-top: solid 2px var(--primary-100);

}


@media screen and (min-width: 1440px){
    
    .land {
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    background-color:#0f0f0f ;
}

.rightmain {
    top: 2rem;
    width: 50%;
    height: 90vh;
}

.a {
    font-size: 96px;
    letter-spacing: 0.2em;
}
.b {
    font-size: 76px;
    letter-spacing: 0.1em;
}
.c {
    top: 100px;
}


}
@media screen and (max-width: 1200px)and (min-width: 1100px) {

.textmain {
    color: var(--primary-100);
    position: absolute;
    top: 35%;
    left: 10%;
}
.a {
    font-size: 86px;
    letter-spacing: 0.2em;
}
.b {
    font-size: 66px;
    letter-spacing: 0.1em;
}
.c {
    position: relative;
    font-size: 18px;
    top: 100px;
}


}

@media screen and (max-width: 1100px)and (min-width: 950px) {

    .textmain {
        color: var(--primary-100);
        position: absolute;
        top: 35%;
        left: 10%;
    }

    .a {
        font-size: 76px;
        letter-spacing: 0.2em;
    }

    .b {
        font-size: 56px;
        letter-spacing: 0.1em;
    }

    .c {
        position: relative;
        font-size: 18px;
        top: 100px;
    }


}

@media screen and (max-width: 950px)and (min-width: 790px) {

    .textmain {
        color: var(--primary-100);
        position: absolute;
        top: 35%;
        left: 10%;
    }

    .a {
        font-size: 66px;
        letter-spacing: 0.2em;
    }

    .b {
        font-size: 46px;
        letter-spacing: 0.1em;
    }

    .c {
        position: relative;
        font-size: 15px;
        top: 100px;
    }


}

@media screen and (max-width: 790px)and (min-width: 690px) {
    #head {
        font-size: xx-small;
        padding: 38px 0;
        letter-spacing: 0.2em;
    }

    .logo {
        font-size: large;
    }

    .next {
        left: 95%;
    }
    .rightmain {
        left: 22%;
        width: 75%;
    }

    .textmain {
        color: var(--primary-100);
        position: absolute;
        top: 35%;
        left: 10%;
    }

    .a {
        font-size: 46px;
        letter-spacing: 0.2em;
    }

    .b {
        font-size: 36px;
        letter-spacing: 0.1em;
    }

    .c {
        position: relative;
        font-size: 15px;
        top: 150px;
        width: 300px;
    }

}

@media screen and (max-width: 690px)and (min-width: 450px) {
    #head {
        font-size:small;
        padding: 30px 0;
        letter-spacing: 0em;
    }

    .logo a {
        letter-spacing: 0;
        font-size: x-large;
    }
    .links a {
        font-size: small ;
    }

    /* .rightmain {
        
    } */

    
    .textmain {
        color: var(--primary-100);
        position: absolute;
        top: 35%;
        left: 10%;
    }

    .a {
        font-size: 36px;
        letter-spacing: 0.2em;
    }

    .b {
        font-size: 26px;
        letter-spacing: 0.1em;
    }

    .c {
        position: relative;
        font-size: 15px;
        top: 200px;
        width: 200px;
    }

}



@media screen and (max-height: 350px) {
    
    .land {

            height: 90vh;
            background-color: #0f0f0f;
        }

    .rightmain {
        background-image: url(images/shop2.jpg);
        background-size: cover;
        background-position:top;
        background-repeat: no-repeat;
        background-color: #F2FFF9;
        position: absolute;
        left: 50%;
        top: 2rem;
        width: 40%;
        height: 70%;
        clip-path:none;
    }

        .textmain {
           
            color: var(--primary-100);
            position: absolute;
            top: 20%;
            left: 0%;
            
            
        }
    
        h1,
        h3 {
            padding-left: 20px;
        }
    
        .a {
            position: relative;
            top: 0px;

        }
    
        .b {
            position: relative;
            top: 0px;
           
        }
    
        .c {
            position: relative;
            top: 0px;

        }
}
/* small screen */

@media screen and (max-width: 450px) {
    body {
        background-color: var(--primary-100);
        font-family: 'Aboreto', cursive;
    }

    #head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        width: 100%;
        height: 10vh;
        background-color: var(--black);
        font-family: 'Aboreto', cursive;
        letter-spacing: 0.4em;
        padding: 10px;
        color: var(--primary-100);
        z-index: 3;
    }

    .links {
        display: none;
    }
    .logo {
        position: relative;
        left: 25%;
    }
    .logo a {
        padding: 0 10px;
        letter-spacing: 0.3em;
        font-weight: bold;
        font-size: large;
    }

    .land{
        background-image: url(images/shop2.jpg);
        background-size: cover;
        background-position:bottom;
        height: 90vh;
    }
    .rightmain {
        display: none;
    }

    
    .textmain {
        background-color: var(--black);
        color: var(--primary-100);
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100vh;
        clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
    }
    h1,h3 {
        padding-left: 20px;
    }
    .a {
        position: relative;
        top: 110px;
        font-size: 36px;
        letter-spacing: 0.2em;
    }

    .b {
        position: relative;
        top: 150px;
        font-size: 26px;
        letter-spacing: 0.1em;
    }

    .c {
        position: relative;
        top: 170px;
        font-size: 13px;
        width: 250px;
    }




    #bars {
        display: block;
    }

    .active {
        width: 100%;
        position: absolute;
        display: flex;
        gap: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--black);
        transform: translateY(-270px);
        transition: 0.4s linear;
        z-index: 1;
    }

    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
        height: 10vh;
    }

    .show-nav {
        transform: translateY(0);
    }

    a {
        font-size: x-large;
        text-decoration: none;
    }

    #open {
        display: inline;
        position: absolute;
        left: 20px;
    }

    button {
        all: unset;
    }

 

    footer {
        background-color: var(--black);
        color: var(--primary-100);
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 15px;
        border-top: solid 2px var(--primary-100);

    }
}

@media screen and (max-width: 380px) {
    .a {
        position: relative;
        top: 110px;
        font-size: 26px;
        letter-spacing: 0.2em;
    }

    .b {
        position: relative;
        top: 150px;
        font-size: 20px;
        letter-spacing: 0.1em;
    }

    .c {
        position: relative;
        top: 200px;
        font-size: 13px;
        width: 250px;
    }
    .logo a{
        font-size:small;
    }
}




