@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Primary: Charming Nature */
    --primary-100: #F2FFF9;
    --primary-200: #BBFEDA;
    --primary-300: #81F6B0;
    --primary-400: #47E27C;
    --primary-500: #13BA42;
    --primary-600: #069526;
    --primary-700: #017014;
    --primary-800: #004B08;
    --primary-900: rgb(0, 38, 2);
    --black:#0f0f0f;
    --mainTransition: all 0.3s linear;
}
body {
        background-color:white;
        font-family: 'Aboreto', cursive;
        
}
::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    background-color: var(--primary-100);
}
::-webkit-scrollbar-thumb {
    background-color: var(--primary-900);
}

#head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:fixed;
    width: 100%;
    height: 10vh;
    background-color:var(--black);
    font-family: 'Aboreto', cursive;
    letter-spacing: 0.3em;
    color: var(--primary-100);
    z-index: 4;
}

.logo a{
    padding-left: 40px;
    letter-spacing: 0.2em;
    font-weight: bolder;
    font-size: xx-large;
}
.cartbtn {
    margin: 10px;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 20%;
    padding: 10px;
}
.cartbtn :hover {
    cursor: pointer;
    color: var(--primary-800);
    transition: all 0.2s;
}
.cartamount {
    position: absolute;
    top: 5px;
    right: 9px;
    border-radius: 20%;
    font-size: 22px;
    padding-left: 3px;
    background-color: var(--primary-800);
    color: white;
}
i {
    cursor: pointer;
}

.links {
    display: flex;
    gap: 20px;
    padding: 15px;
}
a {
    font-size: large;
}

a:link {
    color: var(--primary-100);
    text-decoration: none;
}

/* visited link */
a:visited {
    color: var(--primary-100);
    text-decoration: none;
}

/* mouse over link */
nav a:hover {
    color: var(--primary-300);
}

/* selected link */
a:active {
    color: var(--primary-100);
}
.active {
    display: none;  
}

.land {
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    background-color:#0f0f0f ;
}

.rightmain {
    background-image: url(images/shop2.jpg);
    background-size: cover;
    background-position:center;
    overflow: hidden;
    background-color: #F2FFF9;
    position: absolute;
    left: 45%;
    top: 4rem;
    width: 50%;
    height: 80vh;
}

.textmain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    color: var(--primary-100);
    position: absolute;
    top: 30%;
    left: 10%;
}
.a {
    font-size: 96px;
    letter-spacing: 0.2em;
}
.b {
    font-size: 76px;
    letter-spacing: 0.1em;
}
.c {
    position: relative;
    font-size: 18px;
    top: 150px;
}

#open {
    display: none;
}

button {
    all: unset;
    
}

/* start cart overlay */

.cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    transition: var(--mainTransition);
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    visibility: hidden;
}

.cart {
    color: white;
    position: fixed;
    top: 10%;
    right: 0;
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    z-index: 3;
    background: rgb(0, 0, 0, 0.8);
    padding: 1.5rem;
    transition: var(--mainTransition);
    transform: translateX(110%);
}

.showCart {
    transform: translateX(0);
}
.close-cart {
    position: absolute;
    top: 0.5rem;
    font-size: 1.7rem;
    cursor: pointer;
    color: white;
}

.transparentBcg {
    visibility: visible;
}

@media screen and (min-width: 768px) {
    .cart {
        width: 30vw;
        min-width: 450px;
    }
}

/*---------- Cart Item -------------------- */
.cart-item {
    color: white;
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
}

.cart-item img {
    width: 75px;
    height: 75px;
}

.cart-item h4 {
    font-size: 0.85rem;
    text-transform:uppercase;
}

.cart-item h5 {
    margin: 0.5rem 0;
    text-transform: uppercase;
}

.item-amount {
    text-align: center;
}

.remove-item {
    color: white;
    cursor: pointer;
}

.fa-chevron-up,
.fa-chevron-down {
    color: white;
    cursor: pointer;
}

.empty {
    position: absolute;
    top: 200px;
    left: 120px;
}

/*---------- End of Cart Item -------------------- */
.cart-footer {
    margin-top: 2rem;
    justify-content: center;
    text-align: center;
}

.cart-footer h3 {
    text-transform: capitalize;
    margin-bottom: 1rem;
}

/* end cart overlay */

.banner-btn {
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-size: 1rem;
    color: white;
    border: 1px solid white;
    transition: var(--mainTransition);
    cursor: pointer;
    z-index: 4;
}
.banner-btn :hover {
    color: var(--black);
    background-color: white;
}


.shop {
    display: grid;
    grid-template-columns: repeat(4,250px);
    font-family: Arial, Helvetica, sans-serif;
    gap: 20px;
    justify-content: center;
    padding: auto;
    padding: 40px 10px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 6px solid black;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.7);
    color: var(--primary-100);
}
.item:hover {
    background: rgba(0, 0, 0, 0.9);
    transition: all 0.3s;
}

.item img {
    width: 100%;
    height: 40%;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 12px;
}
.price-quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.quantity {
    font-size: 16px;
}
.dollar {
    font-size: 20px;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    gap: 10px;
}


footer {
    background-color: var(--black);
    color: var(--primary-100);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border-top: solid 2px var(--primary-100);

}



@media screen and (min-width: 1440px){
    
    .land {
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    background-color:#0f0f0f ;
}

.rightmain {
    top: 2rem;
    width: 50%;
    height: 90vh;
}

.a {
    font-size: 96px;
    letter-spacing: 0.2em;
}
.b {
    font-size: 76px;
    letter-spacing: 0.1em;
}
.c {
    top: 100px;
}


}
@media screen and (max-width: 1200px)and (min-width: 1100px) {

.textmain {
    color: var(--primary-100);
    position: absolute;
    top: 35%;
    left: 10%;
}
.a {
    font-size: 86px;
    letter-spacing: 0.2em;
}
.b {
    font-size: 66px;
    letter-spacing: 0.1em;
}
.c {
    position: relative;
    font-size: 18px;
    top: 100px;
}


}

@media screen and (max-width: 1100px)and (min-width: 950px) {

    .textmain {
        color: var(--primary-100);
        position: absolute;
        top: 35%;
        left: 10%;
    }

    .a {
        font-size: 76px;
        letter-spacing: 0.2em;
    }

    .b {
        font-size: 56px;
        letter-spacing: 0.1em;
    }

    .c {
        position: relative;
        font-size: 18px;
        top: 100px;
    }

    .shop {
        grid-template-columns: repeat(3,200px);
    }

}

@media screen and (max-width: 950px)and (min-width: 790px) {

    .textmain {
        color: var(--primary-100);
        position: absolute;
        top: 35%;
        left: 10%;
    }

    .a {
        font-size: 66px;
        letter-spacing: 0.2em;
    }

    .b {
        font-size: 46px;
        letter-spacing: 0.1em;
    }

    .c {
        position: relative;
        font-size: 15px;
        top: 100px;
    }

    .shop {
        grid-template-columns: repeat(3,200px);
    }

}

@media screen and (max-width: 790px)and (min-width: 690px) {
    #head {
        font-size: xx-small;
        padding: 38px 0;
        letter-spacing: 0.2em;
    }

    .logo {
        font-size: large;
    }

    .next {
        left: 95%;
    }
    .rightmain {
        left: 22%;
        width: 75%;
    }

    .textmain {
        color: var(--primary-100);
        position: absolute;
        top: 35%;
        left: 10%;
    }

    .a {
        font-size: 46px;
        letter-spacing: 0.2em;
    }

    .b {
        font-size: 36px;
        letter-spacing: 0.1em;
    }

    .c {
        position: relative;
        font-size: 15px;
        top: 150px;
        width: 300px;
    }

    .shop {
        grid-template-columns: repeat(3,200px);
    }

}

@media screen and (max-width: 690px)and (min-width: 450px) {
    #head {
        font-size:small;
        padding: 30px 0;
        letter-spacing: 0em;
    }

    .logo a {
        letter-spacing: 0;
        font-size: x-large;
    }
    .links a {
        font-size: small ;
    }

    /* .rightmain {
        
    } */

    
    .textmain {
        color: var(--primary-100);
        position: absolute;
        top: 35%;
        left: 10%;
    }

    .a {
        font-size: 36px;
        letter-spacing: 0.2em;
    }

    .b {
        font-size: 26px;
        letter-spacing: 0.1em;
    }

    .c {
        position: relative;
        font-size: 15px;
        top: 200px;
        width: 200px;
    }

    .shop {
        grid-template-columns: repeat(2,200px);
    }

    .item img {
        width: 100%;
        height: fit-content;
    }
}

@media screen and (max-width: 450px) {
    body {
        background-color: var(--primary-100);
        font-family: 'Aboreto', cursive;
    }

    #head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        height: 10vh;
        background-color: var(--black);
        font-family: 'Aboreto', cursive;
        letter-spacing: 0.4em;
        padding: 10px;
        color: var(--primary-100);
        z-index: 3;
    }

    .links {
        display: none;
    }
    .logo {
        position: relative;
        left: 25%;
    }
    .logo a {
        padding: 0 10px;
        letter-spacing: 0.3em;
        font-weight: bold;
        font-size: large;
    }

    .land{
        background-image: url(images/shop2.jpg);
        background-size: cover;
        background-position:bottom;
        height: 100vh;
    }
    .rightmain {
        display: none;
    }

    
    .textmain {
        background-color: var(--black);
        color: var(--primary-100);
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100vh;
        clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
    }
    h1,h3 {
        padding-left: 20px;
    }
    .a {
        position: relative;
        top: 110px;
        font-size: 36px;
        letter-spacing: 0.2em;
    }

    .b {
        position: relative;
        top: 150px;
        font-size: 26px;
        letter-spacing: 0.1em;
    }

    .c {
        position: relative;
        top: 170px;
        font-size: 13px;
        width: 250px;
    }

    #bars {
        display: block;
    }

    .active {
        width: 100%;
        position: fixed;
        top: 10%;
        display: flex;
        gap: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--black);
        transform: translateY(-270px);
        transition: 0.4s linear;
        z-index: 1;
    }

    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
        height: 10vh;
    }

    .show-nav {
        transform: translateY(0);
    }

    a {
        font-size: x-large;
        text-decoration: none;
    }

    #open {
        display: inline;
        position: absolute;
        left: 20px;
    }

    button {
        all: unset;
    }

    .shop {
        grid-template-columns: repeat(1,280px);
    }

    footer {
        background-color: var(--black);
        color: var(--primary-100);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        border-top: solid 2px var(--primary-100);
        font-size: small;
    }
}

@media screen and (max-width: 380px) {
    .a {
        position: relative;
        top: 110px;
        font-size: 26px;
        letter-spacing: 0.2em;
    }

    .b {
        position: relative;
        top: 150px;
        font-size: 20px;
        letter-spacing: 0.1em;
    }

    .c {
        position: relative;
        top: 200px;
        font-size: 13px;
        width: 250px;
    }
    .logo a{
        font-size:small;
    }
    .footer {
        font-size: smaller;
    }

    .shop {
        grid-template-columns: repeat(1,220px);
    }

    .footer {
        font-size: smaller; 
    }
}

@media screen and (max-height: 350px) {


    .land {

        height: 100vh;
        background-color: #0f0f0f;
    }

    .rightmain {
        background-image: url(images/shop2.jpg);
        background-size: cover;
        background-position: 0 -30px;
        background-repeat: no-repeat;
        background-color: #F2FFF9;
        position: absolute;
        left: 50%;
        top: 2rem;
        width: 40%;
        height: 70%;
        clip-path: none;
    }

    .textmain {
        color: var(--primary-100);
        position: absolute;
        top: 35%;
        left: 0%;

    }

    h1,
    h3 {
        padding-left: 20px;
    }

    .a {
        position: relative;
        top: 0px;
        font-size: 30px;
    }

    .b {
        position: relative;
        top: 0px;
        font-size: 25px;

    }

    .c {
        position: relative;
        top: 0px;
        font-size: 10px;
        width: 300px;
    }

}

/* small screen */

/* @media screen and (max-height: 250px) {


} */

